@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

// colors
$Pink: hsl(322, 100%, 66%);
$PaleCyan: hsl(193, 100%, 96%);
$DarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);
// font-size
$h3-size: 28px;
$h2-size: 32px;

// templates
%flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%btn {
  border: none;
  background-color: #fff;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0 5px 10px 0.5px transparentize($GrayishBlue, 0.8);
  padding: 13px 65px;
}
%heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000;
}

// mixins
@mixin size($_w, $_h) {
  width: $_w;
  height: $_h;
}

//
* {
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: $PaleCyan;
  background-image: url(../images/bg-hero-desktop.svg);
  padding: 45px 80px;
  margin-bottom: 170px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
}
.btn {
  @extend %btn;

  &:hover {
    cursor: url(../images/hand-pointer-regular.svg), auto;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
.header__top {
  @extend %flex-sb;
  margin: 5px 0 70px 0;

  & img {
    width: 83%;
  }
}
.header__box {
  @extend %flex-sb;

  & h1 {
    @extend %heading;
    font-size: 40px;
    margin-bottom: 30px;
  }
  & .header__text {
    margin-bottom: 30px;
  }
  & > img {
    width: 55%;
    margin-left: 60px;
  }
}
.btn-pink {
  background-color: $Pink;
  color: #fff;
  padding: 18px 70px;
}
main {
  @extend %flex-center;
  position: relative;
}
.inner {
  @extend %flex-center;
  flex-direction: column;
  width: 1230px;
}
.infoblock {
  @extend %flex-sb;
  width: 100%;
  padding: 60px 30px 60px 120px;
  border-radius: 10px;
  box-shadow: 0 0px 10px 0.5px transparentize($GrayishBlue, 0.8);

  &__content {
    width: 50%;
    padding-right: 60px;
  }
  & > img {
    width: 38%;
  }
  & h3 {
    font-size: $h3-size;
    @extend %heading;
    margin-bottom: 15px;
  }
  &__text {
    color: $GrayishBlue;
  }
}
.infoblock + .infoblock {
  margin-top: 40px;
}
.infoblock-reverse {
  flex-direction: row-reverse;

  & .infoblock__content {
    padding-right: 0;
    padding-left: 30px;
  }
}
.call-to-action {
  @include size(800px, 280px);
  @extend %flex-center;
  background-color: #fff;
  flex-direction: column;
  box-shadow: 0 0px 10px 0.5px transparentize($GrayishBlue, 0.8);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -435px;

  h2 {
    @extend %heading;
    font-size: $h2-size;
    padding-bottom: 35px;
    padding-top: 15px;
  }
  & > .btn-pink {
    @include size(50%, 80px);
    font-size: 20px;
  }
}

footer {
  width: 100%;
  background-color: $DarkCyan;
  color: #fff;
  margin-top: 340px;
  overflow: hidden;

  .block {
    padding: 190px 200px 20px 115px;
  }
  .logo-bottom {
    margin-bottom: 40px;
  }
  .content {
    display: flex;
    align-items: flex-start;
  }
  span {
    float: right;
    font-size: 12px;
    padding: 25px 90px 65px 0;
  }
}
.content__info {
  width: 390px;
  font-size: 16px;
  margin-right: 140px;
  margin-left: -15px;

  li {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  & > a {
    display: table-cell;
    vertical-align: middle;
  }
  .location {
    list-style-image: url(../images/icon-location.svg);
  }
  .phone {
    list-style-image: url(../images/icon-phone.svg);
  }
  .email {
    list-style-image: url(../images/icon-email.svg);
    padding-bottom: 0;
  }
}
.content__menu {
  width: 320px;
  margin-right: 150px;
}
.menu {
  @include size(100%, 160px);
  display: flex;
  flex-flow: column wrap;

  & > a {
    padding-bottom: 15px;
    padding-right: 120px;
  }
}
.socials {
  width: 130px;

  & a {
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 7px;
  }
  & .fab {
    padding: 8px;
    width: 22%;
    font-size: 14px;
  }
  & a:last-child {
    margin-right: 0px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}